set timeout=10

loadfont unicode
insmod all_video
insmod gfxterm
insmod png
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
background_image -m stretch /boot/grub/grub_background.png

grub_platform

if [ "$grub_platform" = "efi" ]; then
	menuentry "Reinstall and Restore StreamScope (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Clean Install StreamScope (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefi-clean/ ---
		initrd	/casper/initrd
	}
else
	menuentry "Reinstall and Restore StreamScope (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-upgrade/ ---
		initrd	/casper/initrd
	}
	menuentry "Clean Install StreamScope (Legacy BIOS)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/legacy-clean/ ---
		initrd	/casper/initrd
	}
fi
