set timeout=10

loadfont unicode
insmod all_video
insmod gfxterm
insmod png
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
background_image -m stretch /boot/grub/grub_background.png

grub_platform

if [ "$grub_platform" = "efi" ]; then
	menuentry "Install StreamScope (UEFI)" {
		set gfxpayload=keep
		linux	/casper/vmlinuz autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/uefistdcln/ ---
		initrd	/casper/initrd
	}
else
	menuentry "Install StreamScope" {
		set gfxpayload=keep
		linux	/casper/vmlinuz boot=casper autoinstall noplymouth nosplash ds=nocloud\;s=/cdrom/nocloud/stdcln/ ---
		initrd	/casper/initrd
	}
fi
